.app{
    overflow: hidden;
}
.header{
    height: var(--height-header);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    margin: 8px 0 0 0;
    padding-left: 0;
    display: flex;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    justify-content: center;
    position: relative;
}
.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    top: -50%;
    transform: translateY(calc(50% + -2px));
}
.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    top: 100%;
    width: 160px;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    z-index: 4;
    box-shadow: 0 0 3px #b7b7b7b7;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 16px;
    display: block;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-user-menu::before{
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 0;
    position: absolute;
}

.header__navbar-item-link,
.header__navbar-item{
    display: inline-flex;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 380;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 4px;
}

.header__navbar-item-link:hover,
.header__navbar-icon:hover,
.header__navbar-item:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--border::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fb9086;
    height: 16px;
    right: -10px;
    top: 30%;
    transform: translateY(-50%);
}
.header__navbar-icon{
    margin: 0 4px;
    font-size: 1.7rem;
    color: var(--white-color);
}
.header__navbar--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* QR code */
.header__qr{
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.3s;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:first-child{
    margin-left: 10px;
}
.header__qr-link:last-child{
    margin-right: 10px;
}
.header__qr-dowload-img{
    height: 16px;
}
.header__qr-hover:hover .header__qr{
    display: block;
}

/* notify */
.header__notify{
    position: absolute;
    width: 404px;
    top: 100%;
    background-color: var(--white-color);
    right: 0;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headernotify ease-in 0.25s;
    z-index: 2;
    display: none;
}

.header__notify::before{
    content: "";
    border-style:  solid;
    border-width: 20px 28px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 2px;
    top: -30px;
}
.header__notify::after{
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    width: 90px;
    height: 20px;
    display: block;

}

.header_notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header_notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
}

.header__notify-list{
    padding: 0;
    background-color: #fff0ee;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 6px 0;
}

.header__notify-desc{
    display: block;
    font-size: 1.3rem;
    font-weight: 380;
    color: #756f6e;
}

.header_notify-footer{
    display: flex;
}
.header_notify-footer-btn{
    text-decoration: none;
    padding: 14px 32px;
    font-size: 1.6rem;
    margin: auto;
    font-weight: 400;
    color: var(--text-color);
}
@keyframes headernotify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item-notify:hover .header__notify{
    display: block;
}
/* Authen modal */
.auth-form{
    width: 500px;
}
.auth-form__conatiner{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}


.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 32px;
}

.auth-form__policy-text{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    color: var(--text-color);
    padding: 0 12px;
}

.auth-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    margin-bottom: 30px;
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}
.btn--back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}
.auth-form__socials-icon{
    font-size: 2rem;
}

.auth-form__socials--face{
    background-color: #3a5a98;
    color: var(--white-color);

}
.auth-form__socials--face
.auth-form__socials-icon{
    color: var(--white-color);
    
}

.auth-form__socials-text{
    margin: 0 36px;
    text-align: center;
}
.auth-form__socials--google{
    background-color: var(--white-color );
    color: #666;
}

/* login form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
}
.auth-form__help-space{
    display: block;
    height: 22px;
    border-left: 1px solid var(--border-color);
    margin: 0 16px;
}
.auth-form__help-link:first-child{
    color: var(--primary-color);
}
.auth-form__help-link:last-child{
    color: #999;
}
/* header with search */
.header-with-search{
   height: var(--height-with-search);
   display: flex;
   align-items: center;
   margin-left: 6px;
}
.header__mobile-search{
    padding: 0 12px;
    display: none;
}
.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo{
    width: 200px;
    -webkit-tap-highlight-color: transparent;
}

.header__logo-img{
    width: 150px;
    color: var(--white-color);
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__cart{
    width: 150px;
    text-align: center;
    position: relative;
}
.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}
.header__cart-warp{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-list{
    position: absolute;
    right: -2px;
    background-color: var(--white-color);
    width: 400px;
    box-shadow: 0 1px 50px rgba(0,0,0,0.2);
    border-radius: 2px;
    top: calc(100% + 8px);
    transform-origin: calc(100% - 20px) top;
    animation: headernotify ease-in 0.25s;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-list::before{
    cursor: pointer;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 16px 22px;
    top: -7%;
    right: 0;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-warp:hover .header__cart-list{
    display: block;
}

.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg{
    display: block;
}

.header__cart-notice{
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 40%;
    border: 2px solid #ee4d2d;
    padding: 0 8px;
    font-size: 1.4rem;
    position: absolute;
    left: 30px;
    top: -3px;
}

.header__cart-no-cart-img{
    width: 35%;
    margin: 0 120px;
    padding-top: 20px;
    display: none;
}
.header__cart-list--no-cart-msg{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-bottom: 26px;
    display: none   ;
}

.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select:hover .header__search-option{
    display: block;
    z-index: 1;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    border:none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select-label{
    font-size: 1.5rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.5rem;
    color: #4a4a4a;
    padding: 0 16px 0 8px;
}

.header__search-btn{
    height: 80%;
    width: 60px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    margin: 0 4px;
}
.header__search-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.5rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% - 2.5px);
    list-style: none;
    padding: 0;
    width: 140px;
    margin-top: 16px;
    box-shadow: 0 1px 4px #e0e0e0;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
}
/* header sort bar */
.header__sort-bar{
    position: fixed;
    top: var(--height-header);
    left: 0;
    right: 0;
    height: var(--height-sort-bar);
    background-color: var(--white-color);
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    list-style: none;
    flex: 1;
}

.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    display: block;
    font-size: 1.4rem;
    text-align: center;
    line-height: var(--height-sort-bar);
    position: relative;
}
.header__sort-link::before{
    content: "";
    top: 50%;
    left: 0;   
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform:  translateY(-50%);
    position: absolute;
}
.header__sort-item-active .header__sort-link{
    color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

/* Cart item */
.header__cart-heading{
    text-align: left;
    margin: 18px 0 8px 12px;
    font-size: 1.4rem;
    color: #b7b7b7;
    font-weight: 300;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 40vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 2px solid var(--border-color);
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__cart-item-name{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: left;
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex:1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-mul{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header__cart-item-desc{
    color: #757575;
    font-size: 1.3rem;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.3rem;
}
.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: #f05d41;
}
.header__search-option-item{
    background-color: var(--white-color);
    padding: 16px 8px;
}
.header__search-option-item:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 12px;
}
.header__search-option-item:first-child{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.header__search-option::before{
    content: "";
    position: absolute;
    top: -16px;
    height: 16px;
    width: 100%;
}


.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* search histort */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white-color);
    width: calc(100% - 16px);
    box-shadow: 0 1px 5px rgb(172,172,172);
    border-radius: 2px;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-history-heading{
    padding: 0 16px;
    font-size: 1.5rem;
    color: #b7b7b7;
    margin: 8px 0;
}

.header__search-history-list{
    list-style: none;
    padding: 0;
    margin: 6px 0 0;
}

.header__search-history-item{
    padding: 0 16px;
    height: 36px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-link{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 36px;
    display: block;
    color: var(--text-color);
}

/* container */
.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 36px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: 0;
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category__list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}
.category-item-active .category-item__link{
    color: var(--primary-color);
}
.category-item-active .category-item__link::before{
    content: "";
    border-style: solid;
    border-width: 4px 4px;
    border-color: transparent transparent transparent var(--primary-color);
    left: 7px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    position: absolute;
}
.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 6px 16px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* mobile category */
.mobile-categoty{
    
}

.mobile-categoty__list{
    display: flex;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    display: none;
}
.mobile-categoty__list::-webkit-scrollbar{
    display: none;
}

.mobile-categoty__item{
    list-style: none;
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-categoty__item:nth-last-of-type(3n + 1) .mobile-categoty__link{
    background-color: #87afd8;
}
.mobile-categoty__item:nth-last-of-type(3n + 2) .mobile-categoty__link{
    background-color: #76c9bd;
}
.mobile-categoty__item:nth-last-of-type(3n + 3) .mobile-categoty__link{
    background-color: #88cf81;
}

.mobile-categoty__link{
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height)*2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}


/* home sort + filter */
.home-filter{
    background-color: rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    padding: 16px 30px;
    border-radius: 2px;
    
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__label{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 16px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.select-input__link{
    font-size: 1.4rem;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    color: var(--text-color);
}
.select-input__link:hover{
    color: var(--primary-color);
}.select-input:hover .select-input__list{
    display: block;
    cursor: pointer;
    z-index: 1;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-currentt{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--white-color);
}
.home-filter__page-btn:first-child{
    border-right: 1px solid rgba(0,0,0,0.05);
    cursor: default;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
}
.home-filter__page-btn--disabled .home-filter__page-btn-icon{
    color: #ccc;
}
.home-filter__page-btn-icon{
    color: #555;
}
/* product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1;
    will-change: transform;
    display: block;
    text-decoration: none;
}
.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
    transform: translateY(-1px);
}
.home-product-item__img{
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-size: contain;
    background-position:center;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    padding-left: 10px;
    justify-content: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 6px;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    /* margin-left: 6px; */
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
}

.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill{
    display: none;
    color: var(--primary-color);
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-emty{
    display: none;
}

.home-product-item__rate{
    font-size: 0.8rem;
    margin:0.4px 0 0 auto;
    color: #d5d5d5;
}
.home-product-item__star-gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 4px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.home-product-item__origin-name,
.home-product-item__brand{
    font-size: 1.2rem;
    color: #595959;
    font-weight: 400;
}


.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite::after{
    content: "";
    border-top: 3px solid currentColor;
    filter: brightness(0.6);
    border-left: 3px solid transparent;
    position: absolute;
    left: 0;
    bottom: -3px;

}

.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite i{
    font-size: 0.8rem;
    margin: 0 3px 0 5px;
    color: var(--white-color);
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color:transparent rgba(255, 216, 64, 0.9) transparent ;
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    
}

.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
}


.home-product__pagination{
    margin: 48px 0 32px 0;
    padding-left: 0;
}